<%=render :partial => "nav" %>

<h2><%=worklogs_title(params[:typee])%></h2>

<% @worklogs.each do |w| %>
  <h3>
    <%= avatar(w.author, :size => "18")%> 
    <%=worklogs_index_title(w.typee)%>:
    <%=h w.day %>
    (第<%=DateTime.parse(w.day).strftime('%W').to_s%>周 - <%=DateTime.parse(w.day).strftime('%A').to_s%>)
  </h3>

  <div class="contextual">
    <%=link_to "", {:action => 'edit', :id => w.id}, :class => 'icon icon-edit', :accesskey => accesskey(:edit) if can_edit?(w)%>
    <%=link_to "详情",worklog_path(:id=>w.id)%>
  </div>

  <p class="author"><%= authoring w.created_at, w.author %> </p>

  <%= render partial: "weeklog", object: w %>
<% end %>

<p class="pagination"><%= pagination_links_full @worklogs_pages %></p>

<% content_for :sidebar do %>
  <%=render :partial => "sidebar" %>
<% end %>

<% html_title "#{l(:label_worklog)}" %>
