<%=render :partial => "nav" %>

<h2><%= l(:label_worklog_new) %></h2>

<%= form_with model: @worklog do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= submit_tag l(:button_create) %>
  <%= preview_news_url preview_worklogs_path(), 'worklog-form' %>
<% end %>

<div id="preview" class="worklog"></div>


<% content_for :sidebar do %>
	<%=render :partial => "sidebar" %>
<% end %>

<% html_title "#{l(:label_worklog_new)} - #{l(:label_worklog)}" %>