<%=render :partial => "nav" %>
<h2>周报详情</h2>

<p class="author"><%= authoring @worklog.created_at, @worklog.author %> </p>

<div class="contextual">
  <%= link_to "", {:action => 'edit', :id => @worklog.id}, :class => 'icon icon-edit', :accesskey => accesskey(:edit) if can_edit?(@worklog) %>
  <%= link_to "", worklog_path(@worklog), :class => 'icon icon-del', method: :delete, data: {confirm: "Are you sure?"}, :accesskey => accesskey(:destroy) if can_edit?(@worklog) %>
</div>

<%= render partial: "weeklog", object: @worklog %>

<% content_for :sidebar do %>
  <%=render :partial => "sidebar" %>
<% end %>